/* resume style */
/*
  color palette
#50514f -- black -- dominant color -- use it in a limited number of places where you want your website visitors to pay attention to, or you want your visitors to take certain action (here sample works)
#769E4D -- green -- first accent color -- use it to higligh secondary information on your website. These are content / items that are not the main focal points of your page, but you still want them to stand out. For example, they may be the subtitle, secondary buttons, information boxes, background color, etc.
#DCDED9 -- shade of black -- background color --
#f25f5c -- red -- for links
#ffe066 -- yellow -- for heading or ...
 */

/* Fonts
-------------------------------------*/
@font-face {
  font-family: 'luxiadisplay';
  src: url('../_fonts/luxia-display-webfont.woff2') format('woff2'),
       url('../_fonts/luxia-display-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Chivo";
  src: url("../_fonts/Chivo-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Chivo Light";
  src: url("../_fonts/Chivo-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

/* General styles
-------------------------------------*/
html {
  box-sizing: border-box;
}
*, *:after, *:before {
  box-sizing: inherit;
}
body {
  font-family: Chivo, Arial, sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
h1, h2 {
  font-family: luxiadisplay, Arial, sans-serif;
  letter-spacing: 0.1em;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
  margin: 0;
}
h3 + p {
  margin-top: 0;
}
p {
  font-size: 1.3em;
  line-height: 1.5;
}
a:hover {
 text-decoration: none;
}
.content-wrapper {
  width: 950px;
  margin: 0 auto;
  padding: 50px;
}
.content-wrapper:after {
  content: "";
  display: table;
  clear: both;
}
.skills {
  background: #DCDED9;
}
.narrow-col {
  width: 30%;
  float: left;
}
.wider-col {
  width: 70%;
  float: left;
  padding-left: 30px;
}
.half-col {
  width: 50%;
  float: left;
}
.important {
  font-family: "Chivo Light", Arial, sans-serif;
  background: black;
  color: white;
  /*margin-right: 10px;*/
  padding: 30px;
  min-height: 300px;
  border: 1px solid #DCDED9;
}
.important a {
  color: #f25f5c;
  letter-spacing: 0.1em;
  font-size: 20px;
  font-family: inherit;
}
/* Header and Footer
-------------------------------------*/
header, footer {
  background: #769E4D;
  color: #ffe066;
}


/* header */
header h1,
header h2 {
  margin: 0;
}
#profile-img {
  border-radius: 50%;
}

/* footer */
footer h2 {
}


/* Work experience
-------------------------------------*/
.work, .education {
  background: #EEEFED;
}

.work h2,
.education h2 {
  margin-bottom: 0;
}

.work h2 + p,
.education h2 + p {
  margin-top: 0;
}

/* Education
-------------------------------------*/
